html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    background: #47096B;
}

#container {
    height: auto;
    width: 100%;
    margin: 0;
    min-height: 100%;
    overflow: hidden;
    position: relative;
}

.newFollower, .newCheer, .newSubscriber, .newRaid {
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    width: auto;
    height: auto;
    margin: 0 auto;
    position: relative;
}