body {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  background: #47096b;
}

div {
  display: inline-block;
}

.title {
  font-size: 14px;
  text-transform: uppercase;
  color: #ac8dc4;
  display: block;
}

.user {
  margin-top: 3px;
}

.name {
  margin-left: 5px;
}

#twitter,
#twitch,
#github,
#youtube {
  position: absolute;
}
