@section Styles  {
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="~/css/lastUser.css" rel="stylesheet" />
}

<div class="title">
    last subscriber
</div>
<div class="user">
    <img id="profileImageUrl" class="profileImg" src="" />
    <div id="displayName" class="name"></div>
</div>

@section Scripts  {
    <script src="~/js/signalr.js"></script>
    <script src="~/js/lastSubscriber.js"></script>
}