@model StreamUserModel

@section Styles  {
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <style>
        body {     
            font-family: 'Roboto', sans-serif;
            font-size: 24px;
            font-weight: 600;
            color: #fff;
            background: #47096B;
        }

        .title {
            font-size: 14px;
            text-transform: uppercase;
            color: #AC8DC4;
        }

        .user {
            margin-top: 3px;
        }

        .name {
            position: absolute;
            display: inline-block;
            margin-left: 8px;
        }

        img {
            width: 24px;
            border: 1px solid #AC85C4;
        }
    </style>
}

<div class="title">
    last subscriber
</div>
@if (Model.ProfileImageUrl != null) { 
    <div class="user">
        <img src="@Model.ProfileImageUrl" />
        <div class="name">@Model.DisplayName</div>
    </div>
}

@section Scripts  {
    <script>setTimeout(function () { location.reload(); }, @Model.RefreshMilliseconds);</script>
}