@model CountModel

@section Styles  {
    <style>
        body { 
            font-family: 'Open Sans', Arial; 
            font-size: 36px; 
            font-weight: 600; 
            color: #fff; 
            background: #47096B; 

        } 
        div { 
            display: inline; 
            margin-top: -2px;
            margin-left: 10px; 
            position: absolute; 
        }
    </style>
}

<svg xmlns='http://www.w3.org/2000/svg' width='36' height='36' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-eye'><path d='M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z'></path><circle cx='12' cy='12' r='3'></circle></svg><div>@Model.Value.ToString("N0")</div>


@section Scripts  {
    <script>setTimeout(function () { location.reload(); }, @Model.RefreshMilliseconds);</script>
}