html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.chatWrapper {
    display: table-cell;
    vertical-align: bottom;
    height: 100vh;
    position: absolute;
    right: 0;
    width: 300px;
}

.chatBox {
    max-height: 95vh;
    margin-bottom: 30px;
    overflow: hidden;
}

.chatMessage {
    background: rgba(66, 52, 78, 1);
    color: #fff;
    font-family: Arial;
    padding: 10px 20px;
    font-size: 18px;
    line-height: 1.4em;
    margin-top: 5px;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    display: none;
}

.chatMessage .name {
    font-weight: bold;
}

.chatMessage img.emote {
    width: 20px
}
