html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#container {
    height: 100%;
    margin: 0;
    min-height: 100%;
    overflow: hidden;
    position: relative;
}

img.emoji {
    width: 75px;
    position: absolute;
    display: block;
    left: 0;
    top: 0;
}

.chatBox {
    position: absolute;
    top: 50px;
    right: 0;
    width: 300px;
}

.chatMessage {
    background: rgba(66, 52, 78, 1);
    color: #fff;
    font-family: Arial;
    padding: 10px 20px;
    font-size: 16px;
    line-height: 1.4em;
    margin-bottom: 5px;
}

.chatMessage .name {
    font-weight: bold;
}

.chatMessage img.emote {
    width: 20px
}

.hinge-in-right {
    -webkit-animation: hinge-in 3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s 1 normal both running;
    animation: hinge-in 3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s 1 normal both running;
}

@keyframes hinge-in {
    0% {
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transform: perspective(2000px) rotateY(-90deg);
        transform: perspective(2000px) rotateY(-90deg);
        -webkit-transform-origin: right;
        transform-origin: right;
        -webkit-transition-property: opacity, -webkit-transform;
        transition-property: opacity, -webkit-transform;
        transition-property: transform, opacity;
        transition-property: transform, opacity, -webkit-transform;
        opacity: 0;
    }
    100% {
        -webkit-transform: perspective(2000px) rotate(0deg);
        transform: perspective(2000px) rotate(0deg);
        opacity: 1;
    }
}
