@{
    ViewData["Title"] = "Test";
}

<h1>Create Test Alerts</h1>

<form method="post" action="/home/newfollower">
    <input type="submit" value="New Follower" />
</form>

<form method="post" action="/home/newcheer">
    <input type="submit" value="New Cheer" />
</form>

<form method="post" action="/home/newsubscriber">
    <input type="submit" value="New Subscriber" />
</form>

<form method="post" action="/home/newraid">
    <input type="submit" value="New Raid" />
</form>

<form method="post" action="/home/newhost">
    <input type="submit" value="New Host" />
</form>