@section Styles  {
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="~/css/counter.css" rel="stylesheet" />
}

<div class="title">
    followers
</div>
<div class="user">
    <div id="counter" class="name">0</div>
</div>

@section Scripts  {
    <script src="~/js/signalr.js"></script>
    <script src="~/js/followers.js"></script>
}